body{
    display: flex;
    margin: auto auto auto auto;
    flex-direction: column;
}


.label-campo{
    display: inline-block;
    padding: 10px;
}

form{
    display: inline;
}

.botoes{
    display: block;
    width: 100%;
    text-align: center;
}
.botoes-modificacao{
    margin: 20px auto 20px;
}

.botao-navegacao{
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
}

.botoes-navegacao{
    margin: 20px auto 20px;
}

#primeiroRegistro {
    background-image:url("Icons/first.svg");
}

#anteriorRegistro {
    background-image:url("Icons/previous.svg");
}

#proximoRegistro {
    background-image:url("Icons/next.svg");
}

#ultimoRegistro {
    background-image:url("Icons/last.svg");
}